# ALIASES AND USEFUL STUFF

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."


alias gitcm="git checkout main"
alias gitfpm="git fetch && git pull origin main"
alias gits="git status"
alias gitd="git diff"
alias gitlp="git log --pretty=oneline"

alias tailf="tail -n 100 -f"